<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.gbbs">

	<!-- 글쓰기 -->
	<insert id="write">
		INSERT INTO gboard
		(num,title,id,pw,content)
		values(gboardnum_seq.nextval,#{title},#{id},#{pw},#{content})
	</insert>

	<!-- 글읽기 -->
	<select id="view" resultType="GbbsDTO">
		SELECT
		num, title, id, pw,cdate,udate,content
		FROM gboard where num=#{num}
	</select>

	<!-- 글읽기:조회수증가 -->
	<update id="updateHit">
		update gboard set hit = hit + 1
		where num=#{num}
	</update>
	
	<delete id="delete">
		delete from gboard where num=#{num}
	</delete>

	<!-- 글수정 -->
	<update id="modify">
		update gboard set title=#{title},udate=sysdate,
		content=#{content}
		where num=#{num} 
		
	</update>


	<!-- 원글가져오기 -->
	<select id="replyView" resultType="GbbsDTO">
		SELECT
		num,title,id,pw,cdate,hit,content
		FROM gboard
		where num=#{num}
	</select>


	<!-- 게시글 총계 -->
	<select id="totalRec" resultType="Integer">
		SELECT count(*) totalRec from
		gboard
	</select>
	
	<!-- 글목록전체 -->
	<!-- <select id="listOld" resultType="GbbsDTO">
		SELECT num,title,name, division, position, cdate,udate,
			     hit,content,bgroup,step,indent 
		  FROM (select * from gboard order by bgroup desc, step asc) 
	</select> -->
	
	<!-- 글목록 요청페이지 -->
	<select id="list" resultType="GbbsDTO">
		select t2.* 
		from (select row_number() over (order by num desc) as znum,t1.* 
				    from gboard t1 ) t2 
		where znum between #{startRec} and #{endRec}
	</select> 
	<!-- 검색목록  -->
	<select id="flist" resultType="gbbsDTO">
		 select t2.*  
		 from (select row_number() over (order by bgroup desc, step asc) as znum, t1.*  
		       from gboard t1  
		       where znum > 0  
	<bind name="keyword" value="'%'+keyword+'%'"/>
		<choose>
			<!-- 제목+내용 -->
			<when test="searchType == 'TC'.toString()">
				and title like #{keyword} or content like #{keyword}
			</when>
			<!-- 제목 -->
			<when test="searchType == 'T'.toString()">
				and title like #{keyword} 
			</when>
			<!-- 내용 -->
			<when test="searchType == 'C'.toString()">
				and content like #{keyword}
			</when>	
			<!-- 작성자 -->
			<when test="searchType == 'N'.toString()">
				and content like #{keyword}
			</when>	
			<otherwise>
				and title like #{keyword} or content like #{keyword} and name like #{keyword}
			</otherwise>
		</choose>
		       ) t2  
		 where znum between #{startRecord} and #{endRecord}  
	</select>


	<!-- 검색총계 -->
	<select id="searchTotalRec" resultType="Integer">
		 select count(*) totalRec  
		 from (select row_number() over (order by bgroup desc, step asc) as znum, t1.*  
		       from gboard t1  
		       where znum > 0  
	<bind name="keyword" value="'%'+keyword+'%'"/>
		<choose>
			<!-- 제목+내용 -->
			<when test="searchType == 'TC'.toString()">
				and title like #{keyword} or content like #{keyword}
			</when>
			<!-- 제목 -->
			<when test="searchType == 'T'.toString()">
				and title like #{keyword} 
			</when>
			<!-- 내용 -->
			<when test="searchType == 'C'.toString()">
				and content like #{keyword}
			</when>	
			<!-- 작성자 -->
			<when test="searchType == 'N'.toString()">
				and content like #{keyword}
			</when>	
			<otherwise>
				and title like #{keyword} or content like #{keyword}
			</otherwise>		
		</choose>
		       ) t2  
	</select>

 


</mapper>